extend ./base
block headLinks
  link(rel="stylesheet", type="text/css", href="css/app.css")
  
block body
  .app-wrap
    
    .navpane-wrap
      include includes/navpane

    .main-wrap
      .stage-navbar
        block stage-navbar
      .stage
        block stage

