extend base
  
block body
  .app-wrap(ng-app="tgjapp")
    
    .navpane-wrap
      .navpane
        .brand
          |题管家
        nav.navpane-nav
          ul
            li
              a(href="app.html#/") 控制面板
            li
              a(href="app.html#/teachers") 教师管理
            li
              a(href="app.html#/classes") 班级与学员
            li
              a(href="app.html#/exercises") 练习管理
        nav.navpane-nav.navpane-nav-bottom
          ul
            li
              a 
                i.avatar-md
                |个人中心


    .main-wrap(ng-view)


block bodyAppend
  script(src="js/app.js")
