extend templates/base

block bodyScript
  script(type="text/javascript" src="js/vendor/highcharts.js")
  script(type="text/javascript" src="js/vendor/highcharts-more.js")
  script(type="text/javascript" src="js/chartTest.js")

block bodyScript
  style.
  div{
    height: 400px;
    width: 700px;
    margin-bottom: 100px;
  }

block body
  div#error
  div#pb
  div#radar
  div#track