extend templates/app

block config
  - var ngIsOn = true
  - var ng = {app: "classes"}

block toolbar
  .toolbar-wrap
    .toolbar-container
      .toolbar-pos-left
        .toolbar-component
          .page-title 班级与学员管理

      .toolbar-pos-right
        .toolbar-component
          a.btn(href="classes-new.html") 创建新班级
  
block stage
  .stage-wrap(ng-controller = "ClassController as classInfo")
    .stage-container
      .stage-pane
        .class-group
          .class-group-title {{group.groupName}}
          .each-class.each-item.list-view(ng-repeat = "class in classInfo.data")
            .each-item-component.class-name {{class.name}}
            .each-item-component.class-students-number {{class.size + '人'}}
            .each-item-component.class-teacher {{class.teacher}}
            .each-item-component.class-view-btn
              .btn 查看班级

          

block bodyScripts
  script(src="js/classes.js")