doctype html

html
  head
    title 题管家
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui")
    link(rel="stylesheet", type="text/css", href="css/vendor/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="css/main.css")


  body
    script(type="text/javascript", src="js/vendor/jquery.min.js")
    script(type="text/javascript", src="js/vendor/bootstrap.min.js")
    script(type="text/javascript", src="js/vendor/angular.min.js")
    script(type="text/javascript", src="js/class.js")
    
    .app-wrap(ng-app="class")
      
      .navpane-wrap
        .navpane
          nav.navpane-nav
            ul
              li
                a(style="height: 49px;") 返回
            .nav-divider(style="margin-top: 0;")
            ul
              li
                a 教师管理
              li
                a 班级与学员管理
              li
                a 统计项目
              li
                a 设置
          .brand
            hr
            .logo
              |题管家

      .main-wrap
      
        .stage-toolbar
          
        .stage
          //- div( ng-controller = "ClassController as classInfo")
          //-   div( ng-repeat = "group in classInfo.info")
          //-     div
          //-       h3(ng-show = "group.hasTag()") {{group.tag}}
          //-     div( ng-repeat = "class in group.class")
          //-       div {{class.name}}
          //-         span
          //-           {{class.size}}
          //-         span
          //-           {{class.teacher}}
          //-         span
          //-           {{class.status}}