.toolbar-wrap
  .toolbar-container
    .toolbar-pos-left
      .toolbar-component
        .page-title 班级与学员管理

    .toolbar-pos-right
      .toolbar-component
        a.btn(href="app.html#/classes/new") 创建新班级

.stage-wrap(ng-controller="ClassesController")
  .stage-container
    .stage-pane
      .no-class-holder(ng-show="classList.length===0")
        |您还没有创建任何班级，点击右上角创建。
      //- .class-group
      //-   .class-group-title {{group.groupName}}
      .each-class.each-item.list-view(ng-repeat = "class in classList" ng-hide="classList.length===0")
        .each-item-component.class-name {{class.name}}
        //- .each-item-component.class-students-number {{class.size + '人'}}
        .each-item-component.class-teacher {{class.subject | subjectFilter}}
        .each-item-component.class-view-btn.pull-right
          .btn 查看班级