extend templates/app

block config
  - var ngIsOn = true
  - var ng = {app: "classes"}

block stage-toolbar
  .stage-toolbar
    .form-inline.text-center
      .form-group
        .input-group
          div.input-group-addon 
            i.glyphicon.glyphicon-search
          input.form-control(type="text" placeholder="搜索" style='width: 300px;')
      .form-group.pull-right
        a.btn-bar(href="teachers-new.html") 添加班级
  

block stage
  .stage
    div( ng-controller = "ClassController as classInfo")
      div( ng-repeat = "class in classInfo.data")
        span {{class.name}}
        span {{class.size + '人'}}
        span {{class.teacher}}
          

block bodyScripts
  script(src="js/classes.js")