extend templates/app
  
block stage
  form(role="form")
    h1 添加新班级
    .form-group
      label(for="class-name")
        |班级名称
        input.form-control#class-name(type="text")
    .form-group
      label(for="class-comment")
        |备注
        input.form-control#class-comment(type="text")
    //- .form-group
    //-   label(for="class-teacher")
    //-     |负责老师
    //-     input.form-control#class-teacher(type="text")
    
    .form-group
      label 上传Excel名单
      input(type="file")

    button.btn.btn-default(type="submit") 确定
