.toolbar-wrap
  .toolbar-container
    .toolbar-pos-left
      .toolbar-component
        .page-title 控制面板

.stage-wrap
  .stage-container
    .stage-pane(ng-controller='greeting')
      h1 hello, {{ name }}( {{ email }} )