//- basic style wrap
.main-wrap(ng-show="false")
  .toolbar-wrap
    .toolbar-container
      .toolbar-pos-left
        .toolbar-component
          .page-title 练习编辑器
      .toolbar-pos-right
        .toolbar-component
          |保存为草稿并退出
  .stage-wrap
    .stage-container
      h3 上传试卷吧少年
      a.btn 上传

//- editor wrap
.editor-main-wrap(ng-show="true")
  .toolbar-wrap
    .toolbar-container
      .toolbar-pos-left
        .toolbar-component
          .page-title 练习编辑器
      .toolbar-pos-right
        .toolbar-component
          |保存为草稿并退出
  .editor-stage-wrap(ng-controller="ExerciseEditController")
    .editor-stage-container
      .display-pane.left-pane2
        h1.text-center {exercise.name}
        .exercise-content-wrap
          .exercise-content-container
            .each-pb-wrap(ng-repeat="problem in problems")
              .each-pb-container
                .each-pb-header 
                  i.header-text 第{{problem.orderNum}}题
                  select.each-pb-type(ng-click="changeType(problem)")
                    option(ng-selected="problem.type === '单选题'")  单选题
                    option(ng-selected="problem.type === '不定项选择题'") 不定项选择题
                    option(ng-selected="problem.type === '主观题'")  主观题
                .each-pb-content
                  |{{problem.bodyHTML}}
                .each-pb-control(ng-show="hasChoice(problem)")
                  div.each-pb-options
                    i.header-text 正确答案:
                    i.each-option(ng-click="clickChoice(problem,$event.target)") A
                    i.each-option(ng-click="clickChoice(problem,$event.target)") B
                    i.each-option(ng-click="clickChoice(problem,$event.target)") C
                    i.each-option(ng-click="clickChoice(problem,$event.target)") D

              
      .editor-pane.right-pane
        .editor-header-wrap
          .editor-header-container
            .header-text.text-center 题目编辑器
        .editor-body-wrap
          .editor-pb-text-container(contenteditable='true')
            //- 此处要写一个选择器么么哒
            |{problem.bodyHTML}
          .editor-pb-image-container
            .editor-pb-image-dropbox
              .placeholder-text +添加题目配图
        .editor-bottom-controller-wrap
          .editor-bottom-controller-container
            .block-btn.btn 确认保存

      