.main-wrap  
  .toolbar-wrap
    .toolbar-container
      .toolbar-pos-left
        .toolbar-component
          .page-title 练习编辑器
      .toolbar-pos-right
        .toolbar-component
          |保存为草稿并退出
  .stage-wrap
    .stage-container(ng-controller="ExerciseNewController")
    
      h3 基本信息
      form.exercise-new-form(role="form")
        .form-group
          label(for="exercise-new-name")
            |练习名称
          input.form-control#exercise-new-name(type="text" ng-model="exercise.name")
        .form-group
          div
            label 选择参与的班级
          .checkbox(ng-repeat="class in classes")
            label
              input(type="checkbox" ng-click='checkClass(class,$event.target)')
              |{{class.name}}
        a(href="exercise-editor.html#/editor" ng-click="submit()").btn 下一步