doctype html

html
  head
    title 题管家
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui")
    link(rel="stylesheet", type="text/css", href="css/vendor/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="css/main.css")


  body
    script(type="text/javascript", src="js/vendor/jquery.min.js")
    script(type="text/javascript", src="js/vendor/bootstrap.min.js")
    script(type="text/javascript", src="js/vendor/angular.min.js")
    script(type="text/javascript" src="js/vendor/highcharts.js")
    script(type="text/javascript", src="js/item-view-tea.js")
    
    .app-wrap(ng-app="item-view-tea")
      
      .navpane-wrap
        .navpane
          nav.navpane-nav
            ul
              li
                a(style="height: 49px;") 返回
            .nav-divider(style="margin-top: 0;")
            ul
              li
                a 教师管理
              li
                a 班级与学员管理
              li
                a 统计项目
              li
                a 设置
          .brand
            hr
            .logo
              |题管家

      .main-wrap
      
        .stage-toolbar
          
        .stage
          //- 下面是总体的指标
          div#overall
            div.correct
              div 平均正确率
              div 60%
            div.rank
              div 方差
              div 0.11
            div.middle
              div 中位数
              div 64%
          //- 下面是题目错误人数图
          div#pb
          //- 下面是名单
          div#namelist( ng-controller = "NamelistController as list")
            table
              tr
                th 排名
                th 姓名
                th 错误题号
                th 表现评级
              tr( ng-repeat = "student in list.data")
                //- td {{student.class}}
                //- 根据我想法，所有班级合在一起的功能并不重要，因为班级是分开教的，基本上也会分开看。取消这一点，将带来产品逻辑和交互的简化。也就是，可以在一次练习里添加多个班级，但是，查看的时候班级的选择是在最高层的
                td {{student.rank}}
                td
                  a {{student.name}}
                td {{student.errorpb}}
                td {{student.level}}





