doctype html

html
  head
    title 题管家
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui")
    link(rel="stylesheet", type="text/css", href="css/vendor/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="css/main.css")
    style.
      .file-input-wrap #file-input-field {
        position: absolute;
        top: 1px;
        left: 1px;
        z-index: -100;
        opacity: 0;
      }

  body
    
    .app-wrap(ng-app="")
      
      .navpane-wrap
        .navpane
          nav.navpane-nav
            ul
              li
                a(style="height: 49px;") 返回
            .nav-divider(style="margin-top: 0;")
            ul
              li
                a 教师管理
              li
                a 班级与学员管理
              li
                a 统计项目
              li
                a 设置
          .brand
            hr
            .logo
              |题管家

      .main-wrap
      
        .stage-toolbar
          
        .stage
          form(role="form" style='border: 1px solid red;')
            h1 添加教师
            //- .dropdown
            //-   button.btn.btn-default.dropdown-toggle#dropdownMenu1(type="button" data-toggle="dropdown") 请选择教师
            //-     span.caret
            //-   ul.dropdown-menu(role="menu" aria-labelledby="dropdownMenu1")
            //-     li.dropdown-header(role="presentation")
            //-       a(role="menuitem" tabindex="-1" href="#") 请选择教师
            //-     li(role="presentation")
            //-       a(role="menuitem" tabindex="-1" href="#") 张烁
            //-     li(role="presentation")
            //-       a(role="menuitem" tabindex="-1" href="#") 孙佳俊
            //-     li(role="presentation")
            //-       a(role="menuitem" tabindex="-1" href="#") 王银峰
            //-     li(role="presentation")
            //-       a(role="menuitem" tabindex="-1" href="#") 其他
            select
              option(value="0" selected="true") 请选择教师
              option(value="1") 张烁
              option(value="2") 孙佳俊
            ul.nav.nav-tabs#name-list-input-method-toggle(role="tablist")
              li.active#toggle-upload(role="presentation")
                a
                  |上传名单
              li#toggle-input(role="presentation")
                a
                  |输入名单
            #upload-name-list-view
              p
                |目前只接受Excel格式的名单表格(.xls)。
                br
                |请确保表格格式如下图所示，第一列为教师姓名，第二列为联系方式，第三列为备注。
              img.img-thumbnail(src="img/example-excel.png" alt="示例名单" width="300px")
              .form-group
                label.file-input-wrap
                  input#file-input-field(type="file" name="date")
                  button.btn.btn-default.btn-block(type="button") 上传Excel名单
            #input-name-list-view(style="display:none;")
              table#name-list
                thead
                  tr
                    th.teacher-name(scope="col") 教师姓名
                    th.teacher-tel(scope="col") 联系方式
                    th.teacher-comment(scope="col") 备注
                tbody
                  tr#name-list-row-0
                    td.teacher-name
                      input(type="text")
                    td.teacher-tel
                      input(type="text")
                    td.teacher-comment
                      input(type="text")
              a.append-rows.btn 新增1行空表格
            button.btn.btn-default(type="submit") 确定          
    
    script(type="text/javascript", src="js/vendor/jquery.min.js")
    script(type="text/javascript", src="js/vendor/bootstrap.min.js")
    script(type="text/javascript", src="js/vendor/angular.min.js")

    script.
      $("input[type='file']").on('click',function(){
        $("button[type='button']").trigger('click');  
      });
      $('li#toggle-upload').on('click', function(){
        $('#upload-name-list-view').show();
        $('#input-name-list-view').hide();
        $(this).addClass('active');
        $('li#toggle-input').removeClass('active');
      });
      $('li#toggle-input').on('click',function(){
        $('#input-name-list-view').show();
        $('#upload-name-list-view').hide();
        $(this).addClass('active');
        $('li#toggle-upload').removeClass('active');
      });