extend templates/app

block config
  - var ngIsOn = true
  - var ng = {app: "teachers"}

block toolbar
  .toolbar-wrap
    .toolbar-container
    
      //- .toolbar-pos-center
      //-   .toolbar-component
      //-     .form-inline        
      //-       .form-group
      //-         .input-group
      //-           div.input-group-addon 
      //-             i.glyphicon.glyphicon-search
      //-           input.form-control(type="text" placeholder="搜索" style='width: 300px;')

      .toolbar-pos-left
        .toolbar-component
          .page-title 教师管理

      .toolbar-pos-right
        .toolbar-component
          a.btn(href="teacher-invite.html") 邀请教师
      
block stage
  .stage-wrap(ng-controller="TeachersController as teachers")
    .stage-container
      .stage-pane
        .teacher-group(ng-repeat="group in teachers.groupsList")
          .teacher-group-title {{group.groupName}}
          .each-teacher.each-item.list-view(ng-repeat="teacher in group.members")
            .each-item-component.teacher-name {{teacher.name}}
            .each-item-component.teacher-class {{teacher.classNum}}个班级
            .each-item-component.teacher-subject {{teacher.subject}}
            .each-item-component.teacher-view-btn
              .btn 查看教师详情
            
        

block bodyScripts
  script(src="js/teachers.js")