.toolbar-wrap
  .toolbar-container
  
    //- .toolbar-pos-center
    //-   .toolbar-component
    //-     .form-inline        
    //-       .form-group
    //-         .input-group
    //-           div.input-group-addon 
    //-             i.glyphicon.glyphicon-search
    //-           input.form-control(type="text" placeholder="搜索" style='width: 300px;')

    .toolbar-pos-left
      .toolbar-component
        .page-title 教师管理

    .toolbar-pos-right
      .toolbar-component
        a.btn#invite-teacher-btn(ng-click='popoverToggle()') 邀请教师
      #invite-teacher-popover.popover.fade.bottom(ng-show='popoverShow' ng-class='{in:popoverIn}')
        .popover-title
          |填写您想邀请的教师邮箱
          .pull-right(ng-click='popoverToggle()') 
            i.pointer.glyphicon.glyphicon-remov ×
        .popover-content
          .form-inline
            input.form-control(type='text' placeholder='邮箱' style='width: 200px')
            .btn 邀请
          div(style='margin-top: 10px;')
            a.small 批量邀请教师
    

.stage-wrap(ng-controller="TeachersController")
  .stage-container
    .stage-pane
      .no-teacher-holder(ng-show="teacherList.length===0")
        |您还没有创建任何老师，点击右上角创建。
      .each-teacher.each-item.list-view(ng-repeat="teacher in teacherList" ng-hide="teacherList.length===0")
        .each-item-component.teacher-name {{teacher.name}}
        //- .each-item-component.teacher-class {{teacher.classNum}}个班级
        //- .each-item-component.teacher-subject {{teacher.subject}}
        .each-item-component.teacher-view-btn.pull-right
          .btn 查看教师详情