extend templates/app

block config
  - var ngIsOn = true
  - var ng = {app: "teachers"}

block toolbar
  .toolbar-wrap
    .toolbar-container
      .toolbar-pos-left
        .toolbar-component
          .page-title 邀请教师

      //- .toolbar-pos-right
      //-   .toolbar-component
      //-     a.btn(href="teacher-invite.html") 按钮
      
block stage
  .stage-wrap(ng-controller="TeachersController as teachers")
    .stage-container-left
      section
        h4 方法一：通过邀请码邀请
        p
          |将此邀请码告知您要邀请的老师，他可以通过邀请码加入您的机构。
        label 机构邀请码
        pre 
          |{{ newClass.invitationId }}
      section
        h4 方法二：通过邮件邀请
        p 
          |请在下面输入老师的邮箱地址，每行一个，我们将向他们发送邀请邮件。
        textarea.teacher-invitation-email(placeholder="邮箱地址 1...\n邮箱地址 2...\n邮箱地址 3...")
        .btn-block.btn 发送邀请邮件


block bodyScripts
  script(src="js/teachers.js")







