.card-style {
  border: 1px solid $border-color;
  border-radius: $border-radius;
  min-height: 1px;
  background-color: #fff;
}

.card {
  border: 1px solid $border-color;
  border-radius: $border-radius;
  min-height: 1px;
  background-color: #fff;
}

// .card.item {
//   height: 300px;
//   .card-img {
//     background-color: #aabbcc;
//     height: 60%;
//     border-top-right-radius: $border-radius;
//     border-top-left-radius: $border-radius;
//     background-size: cover;
//     background-position: center center;
//     background-repeat: no-repeat;
//   }

//   .card-content {
//     padding: 15px;
//     h1, h2, h3 {
//       margin-top: 0;
//     }
//   }
// }