_border($width=1px, $color=$border-color)
  border: $width solid $color

_border-right($width=1px, $color=$border-color)
  border-right: $width solid $color

_border-left($width=1px, $color=$border-color)
  border-left: $width solid $color

_border-top($width=1px, $color=$border-color)
  border-top: $width solid $color

_border-bottom($width=1px, $color=$border-color)
  border-bottom: $width solid $color

_border-radius($radius=$border-radius)
  border-radius: $radius

_box-shadow($shadow-color = $gray-lighter)
  box-shadow: 0px 2px 1px $shadow-color

_border-test($color = red)
  border: 1px solid $color