.toolbar-wrap
  .toolbar-container
    .toolbar-pos-left
      .toolbar-component
        .page-title 创建新班级

    .toolbar-pos-right
      .toolbar-component
        a.btn 完成

.stage-wrap(ng-controller="CreateClassController")
  .stage-container-left
    form.new-class-form(role="form")
      .form-group
        label(for="class-name")
          |班级名称(必填)
        input.form-control#class-name(type="text" ng-model='class.name')
      .form-group
        label(for="class-teacher")
          |负责老师(必填)
        button.btn.btn-block#class-teacher(type="button" data-container="body" data-toggle="popover" data-placement="right" title="请选择老师" data-content="teachers") 选择
      .form-group
        label(for="class-subject")
          |学科(必填)
        input.form-control#class-comment(type="text")
      //- .form-group
      //-   label(for="class-comment")
      //-     |备注
      //-     input.form-control#class-comment(type="text")
      .alert.alert-info
        |请将下面的邀请码告知您的学生，学生可以通过它加入本班
      .form-group
        label.control-label 班级邀请码
        pre.form-control-static {{ newClass.invitationId }}
      //- .form-group
      //-   label 邀请码有效期
      //-   .form-inline
      //-     input.form-control(type="number" style="width: 80px; display: inline-block;")
      //-     select.form-control
      //-       option(value="day") 天
      //-       option(selected="true" value="week") 周
      //-       option(value="month") 月

      //- .form-group
      //-     .checkbox
      //-       label
      //-         input(type="checkbox") 
      //-         |学生通过邀请码加入需要验证？
      button.btn.btn-block(type="submit") 确认创建班级