extend templates/base

<<<<<<< HEAD
//- block config
//-   - var ngIsOn = true
//-   - var ng = {app:"fuck"}
=======
block config
  - var ngIsOn = true
  - var ng = {app: "exercise-new"}
>>>>>>> 56c22d67138f8598ef9d1a2fffe8ff2a829a3976

block headStyles
  link(rel="stylesheet", type="text/css", href="css/exercise-new.css")

block body
<<<<<<< HEAD
  .app-wrap( ng-app="exercise-new-2" )
    .main-wrap
=======
  .app-wrap( ng-app=(ngIsOn? ng.app:'') )
    .nex-main-wrap
>>>>>>> 56c22d67138f8598ef9d1a2fffe8ff2a829a3976
      .toolbar-wrap
        .toolbar-container
          .toolbar-pos-left
            .toolbar-component
              .page-title 练习编辑器
          .toolbar-pos-right
            .toolbar-component
              |保存为草稿并退出
<<<<<<< HEAD
      .stage-wrap
        .stage-container
          .problems( ng-controller = "PbController as pbs")
            .pb-wrap( ng-repeat = "pb in pbs.data" )
              .pb-head
                .number 第{{pb.no}}题
                  span( ng-show = "pbs.isMultiChoice(pb)") 
                    |(多选)
                select.type( ng-mouseout = "pbs.changeType(pb)")
                  option(value="选择题" ng-selected="pb.type === '选择题'") 选择题
                  option(value="主观题" ng-selected="pb.type === '主观题'") 主观题
              .pb-content
                .main-content {{pb.text}}
                hr
                .choice-wrap
                  .choice( ng-repeat = "choice in pb.choices")
                    div( ng-click = "pbs.selectAnswer(choice,pb)" ng-class = "{correct:pbs.markCorrect(choice,pb)}")
                      {{choice.number + choice.content}}
            .btn 完成

block bodyScripts
  script(src="js/exercise-new-2.js")
=======
      .nex-stage-wrap
        .nex-stage-container
          .content-pane.left-pane
            h1 hello
            h1 hello
            h1 hello
            h1 hello
            h1 hello
            h1 hello
            h1 hello
            h1 hello
            h1 hello
            h1 hello
            h1 hello
            h1 hello
            h1 hello
            h1 hello
            h1 hello
            h1 hello
          .editor-pane.right-pane
            h1 world
          
>>>>>>> 56c22d67138f8598ef9d1a2fffe8ff2a829a3976
