extend templates/app

block config
  - var ngIsOn = true
  - var ng = {app: "exercise-view"}

block toolbar
  .toolbar-wrap
    .toolbar-container

      .toolbar-pos-left
        .toolbar-component
          .page-title 班级详情

      .toolbar-pos-center
        .toolbar-component
          .tab-toggle-group
            .tab-toggle.active 学情报告
            .tab-toggle 班级名单
      
block stage
  .stage-wrap
    .stage-container
      h3 xx班学情报告
      .stage-pane        
        
        #report-body
          //- 下面是总体的指标
          #overall
            .figure-row
              .correct.figure-grid
                .figure-title 平均正确率
                .figure-num 60%
              .variance.figure-grid
                .figure-title 方差
                .figure-num 0.12
              .level.figure-grid
                .figure-title 中位数
                .figure-num 64%
          
          #pb.chart

        #namelist( ng-controller = "NamelistController as list")
            table
              tr
                th 排名
                th 姓名
                th 错误题号
                th 表现评级
              tr( ng-repeat = "student in list.data")
                //- td {{student.class}}
                //- 根据我想法，所有班级合在一起的功能并不重要，因为班级是分开教的，基本上也会分开看。取消这一点，将带来产品逻辑和交互的简化。也就是，可以在一次练习里添加多个班级，但是，查看的时候班级的选择是在最高层的
                td {{student.rank}}
                td
                  a {{student.name}}
                td {{student.errorpb}}
                td {{student.level}}
          
        

block bodyScripts
  script(type="text/javascript" src="js/vendor/highcharts.js")
  script(type="text/javascript" src="js/vendor/highcharts-more.js")
  script(type="text/javascript", src="js/exercise-view.js")