extend templates/app

block config
  - var ngIsOn = true
  - var ng = {app: "stu-view"}

block toolbar
  .toolbar-wrap
    .toolbar-container

      .toolbar-pos-left
        .toolbar-component
          .page-title 学生个人详情

      .toolbar-pos-center
        .toolbar-component
          .tab-toggle-group
            .tab-toggle.active 学情报告
            .tab-toggle 学生评语
          
      
block stage
  .stage-wrap
    .stage-container
      h3 王小帅
      .stage-pane
        
        //- 下面是学情报告
        #report-body
          //- 下面是总体的指标
          #overall
            .figure-row
              .correct.figure-grid
                .figure-title 平均正确率
                .figure-num 60%
              .rank.figure-grid
                .figure-title 班级排名
                .figure-num 6
              .level.figure-grid
                .figure-title 近期表现
                .figure-num A
          //- 正确率图
          #error.chart
          //- 雷达图
          #radar.chart
          //- 掌握程度趋势图
          #track.chart
          
    div#comment( ng-controller = "CommentsController as comments")
        div(ng-repeat = "comment in comments.data")
          div.time  {{comment.time}}
          div.content {{comment.content}}
        input#comment-content( type = "text" ng-show = "comments.editOn" )
        div.add-comment( ng-hide = "comments.editOn" ng-click = "comments.toggleEdit()") 添加评语
        div.submit-comment( ng-show = "comments.editOn" ng-click = "comments.submit()") 提交
      //- 下面是各个板块的玩意儿
      div#catalog( ng-controller = "CatalogController as catalog")
        div( ng-repeat = "unit in catalog.data" )
          div.cname {{unit.name}}
          div.cerror {{unit.error}}
          div.clevel {{unit.level}}
          div 查看错题
        

block bodyScripts
  script(type="text/javascript" src="js/vendor/highcharts.js")
  script(type="text/javascript" src="js/vendor/highcharts-more.js")
  script(type="text/javascript", src="js/student-view.js")

//- ----  


          






