extend templates/app

block config
  - var ngIsOn = true
  - var ng = {app: "teacherInfo"}

block stage-toolbar
  .form-group.pull-left
    a.btn.btn-primary 返回
  

block stage
  .stage(ng-controller="TeacherInfoController as teacherInfo")
    .stage-container
      //- .teacher-group(ng-repeat="group in teachers.groupsList")
      //-   h2 {{group.groupName}}
      .teacherInfo-list
        h1.teacher-name {{teacherInfo.data.name}}
        div
          |备注: 
          i.teacher-comment {{teacherInfo.data.comment}}
        div
          |联系电话：
          i.teacher-contactInfo {{teacherInfo.data.contactInfo.phoneNum}}
        div
          |电子邮箱：
          i.teacher-contactInfo {{teacherInfo.data.contactInfo.email}}
        div
          |负责班级：
          i.teacher-classes(ng-repeat="class in teacherInfo.data.classes") 
            |{{class.name}}&nbsp&nbsp&nbsp&nbsp
    button.btn.btn-default(type="button") 修改老师信息
    button.btn.btn-default(type="button") 该老师的班级的图表

block bodyScripts
  script(src="js/teacher-info.js")