extend base
  
block body
  .app-wrap(ng-app=(ngIsOn? ng.app:'') )
    
    .navpane-wrap
      .navpane
        nav.navpane-nav
          ul
            li
              a(style="height: 50px;") 返回
          hr.simple.dark
          ul
            li
              a(href="teachers.html") 教师管理
            li
              a(href="classes.html") 班级与学员管理
            li
              a(href="exercises.html") 统计项目
            li
              a(href="library.html") 题库
            li
              a(href="settings.html") 设置
        .brand
          hr.simple.dark
          .logo
            |题管家


    .main-wrap
      block stage-toolbar
      block stage
        
block bodyScripts
  script(type="text/javascript" src="/js/teacher.js")