extend base
  
block body
  .app-wrap(ng-app=(ngIsOn? ng.app:'') )
    
    .navpane-wrap
      .navpane
        .brand
          |题管家
        nav.navpane-nav
          ul
            li
              a(href="teachers.html") 教师管理
            li
              a(href="classes.html") 班级与学员
            li
              a(href="exercises.html") 练习管理
        nav.navpane-nav.navpane-nav-bottom
          ul
            li
              a 
                i.avatar-md
                |个人中心


    .main-wrap
      block toolbar
      block stage