extend base
  
block body
  .app-wrap
    
    .navpane-wrap
      .navpane
        nav.navpane-nav
          ul
            li
              a(style="height: 49px;") 返回
          .nav-divider(style="margin-top: 0;")
          ul
            li
              a 教师管理
            li
              a 班级与学员管理
            li
              a 统计项目
            li
              a 设置
        .brand
          hr
          .logo
            |题管家


    .main-wrap
      .stage-navbar
        block stage-navbar
      .stage
        block stage
        

