doctype html

block config
  - var ngIsOn = false

html
  head
    title 题管家
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui")
    link(rel="stylesheet", type="text/css", href="css/vendor/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="css/vendor/glyphicons.css")
    link(rel="stylesheet", type="text/css", href="css/main.css")
    link(rel="stylesheet", type="text/css", href="css/twbs-form-table.css")
    // script(type="text/javascript", src="js/vendor/d3.min.js")

    block headStyles
    block headScripts


  body
    block bodyTop
    block body
    
    script(type="text/javascript", src="js/vendor/jquery.min.js")
    script(type="text/javascript", src="js/vendor/bootstrap.min.js")
    script(type="text/javascript", src="js/vendor/angular.min.js")
    // script(type="text/javascript", src="js/main.js")

    block bodyScripts
