.navpane-wrap
  width: $navpane-width
  height: 100%
  position: absolute

.main-wrap
  height: 100%
  margin-left: $navpane-width

.stage
  background-color: $gray-lightest
  min-height: 900px
  padding: 20px
  padding-top: 10px

.stage-toolbar
  _border-bottom()
  margin-bottom: 0
  height: 50px
  .btn-bar
    display: inline-block
    height: 49px
    line-height: 49px
    cursor: pointer;
    padding: 0 $btn-padding-hrz;
    &:hover
      background-color: $gray-lighter
