/* ====================
 * Variables content list in order:
 * seach "#x" with x a number to lookup desired sections

  1. Swatch - colors
  2. Components

 * ==================== */

// #1 Swatch
$gray-light = #cccccc
$gray-lighter = #eeeeee
$gray-lightest = #f9f9f9

$gray-dark = #555555
$gray-darker = #333333
$gray-darkest = #262626

$border-color = $gray-lighter

// #2 Components
$navpane-width = 200px
