.each-class
  line-height: 60px
  _border-bottom(1px, $gray-lighter)
  .class-name
    width: 40%
  .class-students-number
    width: 20%
  .class-teacher
    width: 20%
  .class-view-btn
    width: 20%
    text-align: right

.new-class-form
  width: 400px
  label, .form-control
    width: 100%