.exercise-group-title
  font-size: 1.5em
  line-height: 50px
  _border-bottom()

.each-exercise
  padding: 15px 0
  _border-bottom(1px, $gray-lighter)
  .exercise-main
    width: 35%
    
  .exercise-status
    width: 17%
  .exercise-class
    width: 23%
  .exercise-view-btn
    width: 25%
    // _border-test()
    text-align: right
  
  .exercise-name
    font-size: 1.1em
    font-weight: 600
    font-family: sans-serif
    color: $theme-blue
  .exercise-date
    font-size: $font-size-small
    color: $gray-light

  .exercise-status
    .status-draft
      color: green
