@import "partials/variables"
@import "partials/components"

.navpane-wrap
  width $navpane-width
  height 100%
  position absolute

.main-wrap
  height 100%
  margin-left $navpane-width

.stage-navbar
  background-color hsla(210deg, 0%, 92%, 1)
  border-radius 0
  margin-bottom 0
  min-height 50px

