@import "partials/variables"
@import "partials/mixins/mx_border"
@import "partials/mixins/mx_gray"

.main-wrap
  margin-left: 0

.toolbar-wrap
  left: 0
  background-color: $gray-darker
  color: #fff

.exercise-new-form
  width: 500px
  