@import "partials/variables"
@import "partials/mixins/mx_border"
@import "partials/mixins/mx_gray"
@import "partials/generals/helpers"

.main-wrap
  margin-left: 0

.toolbar-wrap
  z-index: 2
  left: 0
  background-color: $gray-darker
  color: #fff

.exercise-new-form
  width: 500px
  


.nex-main-wrap
  height: 100%
  width: 100%

.nex-stage-wrap
  position: relative
  z-index: 1
  height: 100%
  width: 100%

  .nex-stage-container
    position: absolute
    width: 100%
    top: $toolbar-height
    bottom: 0
    .content-pane, .editor-pane
      height: 100%
      overflow-y: scroll
      position: absolute
    .content-pane
      top: 0
      left: 0
      width: 60%
      min-width: 600px
      z-index: 1
      background-color: gray(95)
    .editor-pane
      top: 0
      right: 0
      width: 40%
      z-index: 100
      _border-left()
      background-color: #fff
    

