@import "partials/variables"

@import "partials/mixins/mx_border"
@import "partials/mixins/mx_gray"

@import "partials/generals/helpers"
@import "partials/generals/reset"
@import "partials/generals/typography"



@import "partials/components/navpane"
@import "partials/components/card"
@import "partials/components/buttons"
@import "partials/components/rules"

@import "partials/app"
@import "pages/teachers"