// .navbar
//   background-color hsla(210deg, 0%, 52%, 1)
//   border-radius 0
//   margin-bottom 0
//   min-height 50px
  
// .navpane
//   background-color hsla(0deg, 0% 95%, 1)
//   width 250px
//   height 100%
//   position absolute

// .stage
//   height 100%
//   margin-left 250px